<?xml version="1.0" encoding="UTF-8"?>
<beans 
  xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
  
  	<!-- server -->
  
	<bean id="telemetryBroker" class="org.apache.activemq.xbean.BrokerFactoryBean"
		  p:config="classpath:resources/broker-transports.xml"
		  p:start="true" />

	<bean id="vmConnectionFactory" depends-on="telemetryBroker"
 		  class="org.apache.activemq.ActiveMQConnectionFactory"
 		  p:brokerURL="vm://telemetryBroker?create=false" />
 		  	
	<bean id="serverConnectionFactory"
		  class="org.springframework.jms.connection.SingleConnectionFactory"
		  p:targetConnectionFactory-ref="vmConnectionFactory"
		  p:reconnectOnException="true"
		  />
		  	
	<!-- client -->

	<bean id="tcpConnectionFactory" depends-on="telemetryBroker"
		  class="org.apache.activemq.ActiveMQConnectionFactory"
		  p:brokerURL="tcp://127.0.0.1:60001" /> 		  

	<bean id="clientConnectionFactory"
		  class="org.springframework.jms.connection.SingleConnectionFactory"
		  p:targetConnectionFactory-ref="tcpConnectionFactory"
		  p:reconnectOnException="true"
		  />
	

  	<bean id="clientJmsTemplate" class="org.springframework.jms.core.JmsTemplate"
  		  p:connectionFactory-ref="clientConnectionFactory"
  		  p:pubSubDomain="true" /> 
  		  
  	
</beans>
